<div class="google-dialog">
    <p>
        <%= name %>
    </p>
    <p>
        Car Description:
    </p>
    <p><%= car_description %></p>
    <p>
        Arrival Time: <%= arrival_time %>
    </p>
    <p>
        Departure Time: <%= departure_time %>
    </p>
</div>
