<div class="google-dialog">
    <p>
        Name: <%= name %>
    </p>
    <p>
        Description: <%= description %>
    </p>
    <a href="#car/arriving/<%= id %>">Arriving here</a>
    <a href="#car/departing/<%= id %>">Leaving here</a>
</div>
