body {
	font-size: 100%;
	font-family: Helvetica;
	letter-spacing: 1.5px;
	margin: 0;
}

#map-canvas {
	position: absolute; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	top: 2.5rem;
}

.section {
	margin: 0;
	padding: 10rem 0;
	clear: both;
}

.container {
	max-width: 35rem;
	margin: 0 auto;
	padding: 0;
}

.section.header {
	background-color: black;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	padding: 0;
	z-index: 5;
}

.container.header {
	max-width: 80%;
	padding: 1rem 1rem 0.625rem 1rem;
	text-align: center;
}

.nav_link {
	font-size: 1rem;
	font-weight: bold;
	font-family: Arial;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	padding: 0.625rem 1.5rem;
	margin: 0 auto;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.nav_link:hover {
	background-color: rgba(255, 255, 255, 0.25);
	cursor: pointer;
    text-decoration: none;
}

