{% extends "layouts/base.html" %}

{% block extra_js %}
<script data-main="{{ STATIC_URL }}js/app/application.js" src="{{ STATIC_URL }}js/bower_components/requirejs/require.js"></script>
{% endblock %}

{% block title %}
Add an Organization
{% endblock %}

{% block content %}
{% endblock %}

{% block more_content %}
<div class="section organization">
	<div class="container Organization">
		<form method="post">
			<div class="row">
				<div class="column size-12">
					<h1>Add a Car</h1>
				</div>
			</div>
			<div class="row">
				<div class="column size-6 shrink-right">
					<h2>Name</h2>
				</div>
				<div class="column size-6 shrink-left">
					<input id="id_name" class="expand" type="text" name="name">
				</div>
			</div>
			<div class="row">
				<div class="column size-6 shrink-right">
					<h2>Departure Time</h2>
				</div>
				<div class="column size-6 shrink-left">
					<input id="id_departure_time" class="expand" type="text" name="departure_time">
				</div>
			</div>
			<div class="row">
				<div class="column size-6 shrink-right">
					<h2>Car Description</h2>
				</div>
				<div class="column size-6 shrink-left">
					<textarea id="id_car_description" class="expandcar" name="car_description"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="column size-6 shrink-right">
					<h2>Leaving From</h2>
				</div>
				<div class="column size-6 shrink-left">
					<textarea id="id_leaving_from" class="expandcar" name="leaving_from"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="column size-6 shrink-right">
					<h2>Going To</h2>
				</div>
				<div class="column size-6 shrink-left">
					<textarea id="id_going_to" class="expandcar" name="going_to"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="column size-6 shrink-right">
					<h2>Organization</h2>
				</div>
				<div class="column size-6 shrink-left">
					<select id="id_organization" class="expand" name="organization">
						{% for id, name in form.fields.organization.choices %}
							<option value="{{ id }}">{{ name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="column size-12">
					<input class="button" type="submit" value="Add">
				</div>
			</div>
			{% csrf_token %}
			{{ form.errors }}
		</form>
	</div>
</div>
{% endblock %}