{% extends "layouts/base.html" %}

{% block extra_js %}
<script data-main="{{ STATIC_URL }}js/app/application.js" src="{{ STATIC_URL }}js/bower_components/requirejs/require.js"></script>
<script src="{{ STATIC_URL }}js/bower_components/jquery/jquery.min.js"></script>

<script type="text/javascript">  
$(function(){
   setTimeout(function() {
      $("#splash").fadeOut("slow");
   }, 2000);
});
</script>
{% endblock %}

{% block title %}
Organization Map
{% endblock %}

{% block content %}
{% endblock %}

{% block more_content %}
<div id="splash" class="section splash">
	<div class="container splash">
		<img src="{{ STATIC_URL }}img/logo.png">
	</div>
</div>
{% endblock %}
