{% extends "layouts/base.html" %}

{% block extra_js %}
<script data-main="{{ STATIC_URL }}js/app/application.js" src="{{ STATIC_URL }}js/bower_components/requirejs/require.js"></script>
{% endblock %}

{% block title %}
Add an Organization
{% endblock %}

{% block content %}
{% endblock %}

{% block more_content %}
<div class="section organization">
	<div class="container Organization">
		<form method="post">
			<div class="row">
				<div class="column size-12">
					<h1>Add an Organization</h1>
				</div>
			</div>
			<div class="row">
				<div class="column size-6 shrink-right">
					<h2>Name</h2>
				</div>
				<div class="column size-6 shrink-left">
					<input id="id_name" class="expand" type="text" name="name">
				</div>
			</div>
			<div class="row">
				<div class="column size-6 shrink-right">
					<h2>Location</h2>
				</div>
				<div class="column size-6 shrink-left">
					<input id="id_location" class="expand" type="text" name="location">
				</div>
			</div>
			<div class="row">
				<div class="column size-6 shrink-right">
					<h2 class="desc">Description</h2>
				</div>
				<div class="column size-6 shrink-left">
					<textarea id="id_description" class="expand" name="description"></textarea>
				</div>
			</div>
			<div class="row" style="display: none;">
				<div class="column size-6 shrink-right">
					<h2>Latitude</h2>
					<input id="id_latitude" class="expand" type="text" name="lat">
				</div>
				<div class="column size-6 shrink-left">
					<h2>Longitude</h2>
					<input id="id_longitude" class="expand" type="text" name="long">
				</div>
			</div>
			<div class="row">
				<div class="column size-12">
					<input class="button" type="submit" value="Add">
				</div>
			</div>
			{% csrf_token %}
			{{ form.errors }}
		</form>
	</div>
</div>
{% endblock %}
