<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ STATIC_URL }}css/groupgo.css" type="text/css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/groupgo-mediaqueries.css" type="text/css" rel="stylesheet">
        {% block extra_css %}
        {% endblock %}
    </head>
    <body>
        <div class="section header">
            <div class="container header">
                <a href="/organizations/addOrg" class="nav_link">Add an Org</a>
                <a href="/organizations" class="nav_link logo"><img class="logo" src="{{ STATIC_URL }}img/logo.png"></a>
                <a href="/organizations/addCar" class="nav_link">Add a Car</a>
            </div>
        </div>
        <div id="map-canvas" class="section map">
            {% block content %}
            {% endblock %}
        </div>
        {% block more_content %}
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
