@font-face {
    font-family: 'Helvetica Neue Ultra Light';
    src: url('fonts/HelveticaNeueUltraLight/helveticaneueltstd-ultlt.eot');
    src: url('fonts/HelveticaNeueUltraLight/helveticaneueltstd-ultlt.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueUltraLight/helveticaneueltstd-ultlt.woff') format('woff'),
    	 url('fonts/HelveticaNeueUltraLight/helveticaneueltstd-ultlt.ttf') format('truetype'),
         url('fonts/HelveticaNeueUltraLight/helveticaneueltstd-ultlt.svg#HelveticaNeueLTPro25UltraLight') format('svg');

}

body {
	font-size: 100%;
	font-family: Helvetica;
	letter-spacing: 1.5px;
	margin: 0;
	color: white;
}

h1 {
	font-family: 'Helvetica Neue Ultra Light';
	text-transform: uppercase;
	font-size: 4rem;
	margin: 0;
}

h2 {
	padding: 0.25rem 0.25rem;
	background-color: #8FBE00;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	color: white;
	margin: 0.5rem;
}

h2.desc {
	margin-top: 1.35rem;
}

input.expand {
	width: 95%;
	height: 1.5rem;
	margin: 0.625rem;
}

textarea.expand {
	width: 95%;
	height: 5rem;
}

textarea.expandcar {
	width: 95%;
	height: 1.5rem;
	margin: 0.625rem;
}

select.expand {
	width: 95%;
	height: 1.5rem;
	margin-top: 0.625rem;
}

.section {
	margin: 0;
	padding: 0;
	clear: both;
}

.section.header {
	background-color: black;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	padding: 0;
	z-index: 5;
}

.section.map {
	position: absolute; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	top: 2.5rem;
}

.section.organization {
	position: absolute;
	left: 5rem;
	right: 5rem;
	bottom: 2rem;
	top: 5rem;
	background-color: rgba(0,0,0,0.60);	
}

.section.splash {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
}

.container.header {
	max-width: 80%;
	padding: 1rem 1rem 0.625rem 1rem;
	text-align: center;
}

.container.organization {
	padding: 1rem;
}

.container.splash {
	margin: 22% 40%;
}

.logo {
	max-height: 25px;
}

.nav_link:hover {
	background-color: rgba(255, 255, 255, 0.25);
	cursor: pointer;
    text-decoration: none;
}

.nav_link:visited {
	color: inherit;
}

.nav_link.logo {
	background-color: transparent;
}

.row {
	overflow: auto;
}

.column {
	text-align: center;
}

.button {
	display: inline-block;
	padding: 0.75rem 1.875rem;
	border-radius: 0.25rem;
	background-color: #00A8C6;
	font-family: Helvetica;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-align: center;
	text-decoration: none;
}

.button:hover {
	background-color: #40C0CB;
    text-decoration: none;
}

.shrink-right {
	padding-right: 0 !important;
	margin-right: 0 !important;
}

.shrink-left {
	padding-left: 0 !important;
	margin-left: 0 !important;
}

.size-12 {
	max-width: 95%;
	text-align: center;
}

.google-dialog {
    color: black;
}
