@media only screen and (min-width: 1600px) {
	h1 {
		font-size: 120px;
		letter-spacing: 20px;
	}

	h2 {
		font-size: 2rem;
	}

	.container {
		max-width: 80rem;
		margin: 0 auto;
		padding: 0;
	}

	.nav_link {
		font-size: 1.5rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		color: white;
		padding: 0.625rem 6rem;
		margin: 0 0.5rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.drop-down-link {
		font-size: 1.5rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		padding: 0.625rem 4.5rem;
		margin: 0 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	.section.background-1, .section.background-2 {
		min-height: 350px;
	}

	.section.hero {
		top: 3.5rem;
		min-height: 500px;
		background-image: url('../images/Logo.png');
		background-repeat: no-repeat;
		background-position: 50% 25%;
		background-size: 80%;
		background-color: #BA0202;
	}

	.hero_subtitle {
		padding-top: 20rem;
		font-family: Oswald, sans-serif;
		color: rgba(0, 0, 0, 0.85);
		font-size: 4.5rem;
		line-height: 5.3125rem;
		font-weight: 700;
		text-align: center; 	
		letter-spacing: 0.625rem;
		text-transform: uppercase;
	}

	.home-button {
		width: 30px;
	}

	.column {
		position: relative;
		float: left;
		width: 100%;
		min-height: 0.0625rem;
		padding: 0.625rem;
	}

	.size-6 {
		width: 48.4375%;
	}

	.size-4 {
		width: 31.77083333333333%;
	}
}

@media only screen and (max-width: 1600px) {
	h1 {
		font-size: 85px;
		letter-spacing: 20px;
	}

	h2 {
		font-size: 1.5rem;
	}
	
	.container {
		max-width: 60rem;
		margin: 0 auto;
		padding: 0;
	}

	.nav_link {
		font-size: 1.25rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0.625rem 1.5rem;
		margin: 0 auto;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.drop-down-link {
		font-size: 1.5rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		padding: 0.625rem 4.5rem;
		margin: 0 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	.section.background-1, .section.background-2 {
		min-height: 300px;
	}

	.section.hero {
		top: 3.5rem;
		min-height: 350px;
		background-image: url('../images/Logo.png');
		background-repeat: no-repeat;
		background-position: 50% 75%;
		background-size: 75%;
		background-color: #BA0202;
	}

	.hero_subtitle {
		padding-top: 25rem;
		font-family: Oswald, sans-serif;
		color: rgba(0, 0, 0, 0.85);
		font-size: 4.5rem;
		line-height: 5.3125rem;
		font-weight: 700;
		text-align: center; 	
		letter-spacing: 0.625rem;
		text-transform: uppercase;
	}

	.home-button {
		width: 30px;
	}

	.column {
		position: relative;
		float: left;
		width: 100%;
		min-height: 0.0625rem;
		padding: 0.625rem;
	}

	.size-6 {
		width: 47.91666666666667%;
	}

	.size-4 {
		width: 31.25%;
	}
}

@media only screen and (max-width: 1200px) {
	h1 {
		font-size: 75px;
		letter-spacing: 20px;
	}

	h2 {
		font-size: 1rem;
	}
	
	.container {
		max-width: 50rem;
		margin: 0 auto;
		padding: 0;
	}

	.nav_link {
		font-size: 1rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0.625rem 1.5rem;
		margin: 0 auto;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.drop-down-link {
		font-size: 1.5rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		padding: 0.625rem 2.5rem;
		margin: 0 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	.section.background-1, .section.background-2 {
		min-height: 300px;
	}

	.section.hero {
		top: 3.5rem;
		min-height: 300px;
		background-image: url('../images/Logo.png');
		background-repeat: no-repeat;
		background-position: 50% 70%;
		background-size: 75%;
		background-color: #BA0202;
	}

	.hero_subtitle {
		padding-top: 25rem;
		font-family: Oswald, sans-serif;
		color: rgba(0, 0, 0, 0.85);
		font-size: 4.5rem;
		line-height: 5.3125rem;
		font-weight: 700;
		text-align: center; 	
		letter-spacing: 0.625rem;
		text-transform: uppercase;
	}

	.home-button {
		width: 30px;
	}

	.column {
		position: relative;
		float: left;
		width: 100%;
		min-height: 0.0625rem;
		padding: 0.625rem;
	}

	.size-6 {
		width: 47.5%;
	}

	.size-4 {
		width: 30.83333333333333%;
	}
}

@media only screen and (max-width: 1050px) {
	h1 {
		font-size: 65px;
		letter-spacing: 15px;
	}

	h2 {
		font-size: 1rem;
	}
	
	.container {
		max-width: 40rem;
		margin: 0 auto;
		padding: 0;
	}

	.nav_link {
		font-size: 1rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0.625rem 1.5rem;
		margin: 0 auto;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.drop-down-link {
		font-size: 1.25rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		padding: 0.625rem 1.5rem;
		margin: 0 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	.section.background-1, .section.background-2 {
		min-height: 200px;
	}

	.section.hero {
		top: 3.125rem;
		min-height: 250px;
		background-image: url('../images/Logo.png');
		background-repeat: no-repeat;
		background-position: 50% 60%;
		background-size: 75%;
		background-color: #BA0202;
	}

	.hero_subtitle {
		padding-top: 25rem;
		font-family: Oswald, sans-serif;
		color: rgba(0, 0, 0, 0.85);
		font-size: 4.5rem;
		line-height: 5.3125rem;
		font-weight: 700;
		text-align: center; 	
		letter-spacing: 0.625rem;
		text-transform: uppercase;
	}

	.home-button {
		width: 25px;
	}

	.column {
		position: relative;
		float: left;
		width: 100%;
		min-height: 0.0625rem;
		padding: 0.625rem;
	}

	.size-6 {
		width: 46.875%;
	}

	.size-4 {
		width: 30.20833333333333%;
	}
}

@media only screen and (max-width: 805px) {
	h1 {
		font-size: 50px;
		letter-spacing: 10px;
	}

	h2 {
		font-size: 0.75

	h2 {
		font-size: 1rem;
	}rem;
	}
	
	.container {
		max-width: 35rem;
		margin: 0 auto;
		padding: 0;
	}

	.nav_link {
		font-size: 1rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0.625rem 1.5rem;
		margin: 0 auto;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.drop-down-link {
		font-size: 1rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		padding: 0.625rem 1rem;
		margin: 0 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	.section.background-1, .section.background-2 {
		max-height: 150px;
	}

	.section.hero {
		top: 2.5rem;
		min-height: 200px;
		background-image: url('../images/Logo.png');
		background-repeat: no-repeat;
		background-position: 50% 55%;
		background-size: 75%;
		background-color: #BA0202;
	}

	.hero_subtitle {
		padding-top: 15rem;
		font-family: Oswald, sans-serif;
		color: rgba(0, 0, 0, 0.85);
		font-size: 3.5rem;
		line-height: 5.3125rem;
		font-weight: 700;
		text-align: center; 	
		letter-spacing: 0.625rem;
		text-transform: uppercase;
	}

	.home-button {
		width: 20px;
	}

	.column {
		position: relative;
		float: left;
		width: 100%;
		min-height: 0.0625rem;
		padding: 0.625rem;
	}

	.size-6 {
		width: 46.42857142857143%;
	}

	.size-4 {
		width: 29.76190476190476%;
	}
}

@media only screen and (max-width: 650px) {
	h1 {
		font-size: 40px;
		letter-spacing: 10px;
	}

	h2 {
		font-size: 0.5rem;
	}
	
	#members-drop-down {
		top: 110px;
	}

	#about-drop-down {
		top: 160px;
	}

	#store-drop-down {
		top: 210px;
	}

	.section.header {
		position: static;
	}

	.container {
		max-width: 35rem;
		margin: 0 auto;
		padding: 0;
	}

	.nav_link {
		display: inline-block;
		font-size: 1.25rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		width: 85%;
		padding: 0.625rem 1.5rem;
		margin: 0 auto;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.home {
		margin: 0 auto;
	}

	.drop-down-link {
		display: inline-block;
		font-size: 1.5rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		width: 80%;
		padding: 0.625rem 2.5rem;
		margin: 0 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	.section.background-1, .section.background-2 {
		display: none;
	}

	.section.hero {
		top: 0;
		min-height: 150px;
		background-image: url('../images/Logo.png');
		background-repeat: no-repeat;
		background-position: 50% 40%;
		background-size: 90%;
		background-color: #BA0202;
	}

	.hero_subtitle {
		padding-top: 15rem;
		font-family: Oswald, sans-serif;
		color: rgba(0, 0, 0, 0.85);
		font-size: 4rem;
		line-height: 5.3125rem;
		font-weight: 700;
		text-align: center; 	
		letter-spacing: 0.625rem;
		text-transform: uppercase;
	}

	.home-button {
		width: 50px;
	}

	.column {
		position: justify;
		width: 100%;
		min-height: 0.0625rem;
		padding: 0.625rem;
		text-align: center;
	}

	.size-6 {
		width: 95%;
	}

	.size-4 {
		width: 95%;
	}

    .not-on-mobile {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 75px;
		letter-spacing: 15px;
	}

	h2 {
		font-size: 1rem;
	}
	
	#members-drop-down {
		top: 97px;
	}

	#about-drop-down {
		top: 142px;
	}

	#store-drop-down {
		top: 187px;
	}

	.section.header {
		position: static;
	}

	.container {
		max-width: 27.5rem;
		margin: 0 auto;
		padding: 0;
	}

	.nav_link {
		display: inline-block;
		font-size: 1.25rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		width: 85%;
		padding: 0.625rem 1.5rem;
		margin: 0 auto;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.home {
		margin: 0 auto;
	}

	.drop-down-link {
		display: inline-block;
		font-size: 1.25rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		width: 85%;
		padding: 0.625rem 1.5rem;
		margin: 0 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	.section.background-1, .section.background-2 {
		display: none;
	}

	.section.hero {
		top: 0;
		min-height: 100px;
		background-image: url('../images/Logo.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 90%;
		background-color: #BA0202;
	}

	.hero_subtitle {
		padding-top: 15rem;
		font-family: Oswald, sans-serif;
		color: rgba(0, 0, 0, 0.85);
		font-size: 3.5rem;
		line-height: 5.3125rem;
		font-weight: 700;
		text-align: center; 	
		letter-spacing: 0.625rem;
		text-transform: uppercase;
	}

	.home-button {
		width: 40px;
	}

	.column {
		position: relative;
		text-align: center;
		width: 100%;
		min-height: 0.0625rem;
		padding: 0.625rem;
		margin: 0 auto;
	}

	.size-6 {
		width: 95%;
	}

	.size-4 {
		width: 95%;
	}

    .not-on-mobile {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
	h1 {
		font-size: 50px;
		letter-spacing: 10px;
	}

	h2 {
		font-size: 1rem;
	}
	
	#members-drop-down {
		top: 97px;
	}

	#about-drop-down {
		top: 142px;
	}

	#store-drop-down {
		top: 187px;
	}

	.section.header {
		position: static;
	}

	.container {
		max-width: 27.5rem;
		margin: 0 auto;
		padding: 0;
	}

	.nav_link {
		display: inline-block;
		font-size: 1.25rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		width: 85%;
		padding: 0.625rem 1.5rem;
		margin: 0 auto;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.home {
		margin: 0 auto;
	}

	.drop-down-link {
		display: inline-block;
		font-size: 1.25rem;
		font-weight: bold;
		font-family: Arial;
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		width: 85%;
		padding: 0.625rem 1.5rem;
		margin: 0 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	.section.background-1, .section.background-2 {
		display: none;
	}

	.section.hero {
		top: 0;
		min-height: 100px;
		background-image: url('../images/Logo.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 90%;
		background-color: #BA0202;
	}

	.hero_subtitle {
		padding-top: 15rem;
		font-family: Oswald, sans-serif;
		color: rgba(0, 0, 0, 0.85);
		font-size: 3.5rem;
		line-height: 5.3125rem;
		font-weight: 700;
		text-align: center; 	
		letter-spacing: 0.625rem;
		text-transform: uppercase;
	}

	.home-button {
		width: 40px;
	}

	.column {
		position: relative;
		text-align: center;
		width: 100%;
		min-height: 0.0625rem;
		padding: 0.625rem;
		margin: 0 auto;
	}

	.size-12 {
		width: 92%;
	}

	.size-6 {
		width: 92%;
	}

	.size-4 {
		width: 92%;
	}

    .not-on-mobile {
        display: none;
    }
}